<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilo-geral.css">
    <title>Reposição de aulas</title>

</head>

<body>
    <header>
        <div class="topo">
            <div class="fundo"><img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo"
                    class="logo-governo"></div>
            <div class="fundo2"><img src="../../assets/images/logo-fatec_itapira.png" alt="logo" class="logo-fatec">
            </div>
        </div>
        <nav>
            <a href="index-coordenador.html" class="botao-nav">Início</a>
            <a href="lista-recebidos-faltas.html" class="botao-nav">Justificativas de Falta</a>
            <a href="lista-recebidos-reposicao.html" class="botao-nav">Reposição de Aulas</a>
            <a href="informacoes.html" class="botao-nav">Informações do Curso</a>
            <a href="login.html" class="botao-nav">Sair</a>
        </nav>

    </header>
    <main>
        <h1>Reposição de Aulas Recebidas</h1>
        <div class="form-coord">
            <p>Escolha quais formlulários gostaria de visualizar: </p>
            <div class="exibir2">

                <button id="botao-recebidos" class="custom-link">Esperando análise</button>
                <button id="botao-finalizados" class="custom-link">Finalizados</button>
            </div>
        </div>

        <div id="recebidos" class="hidden-content">
            <div class="topo-form">
                <form id="filtro-form-recebidos">
                    <div class="filtro-form">
                        <label for="filterTipo">Professor: </label>
                        <select id="filterTipo" class="filter-input">
                            <option value="">Todos</option>
                            <option value="Wladimir José Camillo Menegassi">Wladimir José Camillo Menegassi</option>
                            <option value="Janaina">Janaina</option>
                            <option value="Ana Célia Ribeiro Bizigato Portes">Ana Célia Ribeiro Bizigato Portes</option>
                            <option value="José Gonçalves Pinto Juniors">José Gonçalves Pinto Juniors</option>
                            <option value="Edison Kazuo Igarashi">Edison Kazuo Igarashi</option>
                            <option value="Thiago Salhab Alves">Thiago Salhab Alves</option>
                        </select>

                        <input type="submit" value="Aplicar filtro">
                        <input type="reset" name="Limpar" value="Limpar filtro">
                    </div>
                </form>
            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th class="ordem">Data de recebimento</th>
                            <th class="ordem">Data de falta</th>
                            <th class="componente">Professor</th>
                            <th class="componente">Disciplina</th>
                            <th class="status">Data da reposição</th>
                            <th class="ordem"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/05/2024</td>
                            <td>10/04/2024</td>
                            <td>Wladimir José Camillo Menegassi</td>
                            <td>Modelagem de Banco de Dados</td>
                            <td>15/04/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>19/05/2024</td>
                            <td>19/03/2024</td>
                            <td>Janaina</td>
                            <td>Inglês</td>
                            <td>06/06/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>21/05/2024</td>
                            <td>20/04/2024</td>
                            <td>Ana Célia Ribeiro Bizigato Portes</td>
                            <td>Engenharia de Software I</td>
                            <td>01/06/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>26/05/2024</td>
                            <td>04/05/2024</td>
                            <td>José Gonçalves Pinto Juniors</td>
                            <td>Segurança no Desenvolvimento de Aplicações</td>
                            <td>10/06/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>10/06/2024</td>
                            <td>22/05/2024</td>
                            <td>Edison Kazuo Igarashi</td>
                            <td>Sistemas Operacionais e Redes de Computadores</td>
                            <td>15/06/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>03/06/2024</td>
                            <td>02/06/2024</td>
                            <td>Thiago Salhab Alves</td>
                            <td>Design Digital</td>
                            <td>01/07/2024</td>
                            <td class="centro"><a href="avaliar-reposicao.html"><img
                                        src="../../assets/images/analisar.png" class="iconeAnalisar"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="finalizados" class="hidden-content">
            <div class="topo-form">
                <form id="filtro-form-recebidos">
                    <div class="filtro-form">
                        <label for="filterTipo">Professor: </label>
                        <select id="filterTipo" class="filter-input">
                            <option value="">Todos</option>
                            <option value="Douglas Rosa">Douglas Rosa</option>
                            <option value="José Gonçalves Pinto Junior">José Gonçalves Pinto Junior</option>
                            <option value="Lúcio">Lúcio</option>
                            <option value="Mateus">Mateus</option>
                            <option value="Thiago Salhab Alves">Thiago Salhab Alves</option>
                            <option value="Vagner">Vagner</option>
                        </select>

                        <label for="disciplina">Disciplina:</label>
                        <select id="disciplina" class="filter-input">
                            <option value="0">Todos</option>
                            <option value="Programação para Dispositivos Móveis I">Programação para Dispositivos Móveis
                                I</option>
                            <option value="Banco de Dados Relacional">Banco de Dados Relacional</option>
                            <option value="Integração e Entrega Contínua">Integração e Entrega Contínua</option>
                            <option value="Aprendizagem de Máquina">Aprendizagem de Máquina</option>
                            <option value="Interação Humano Computador">Interação Humano Computador</option>
                            <option value="Álgebra Linear">Álgebra Linear</option>
                        </select>

                        <label for="filterStatus">Status:</label>
                        <select id="filterStatus" class="filter-input">
                            <option value="">Todos</option>
                            <option value="Em analise">Em análise</option>
                            <option value="Deferido">Deferido</option>
                            <option value="Indeferido">Indeferido</option>
                        </select>

                        <input type="submit" value="Aplicar filtro">
                        <input type="reset" name="Limpar" value="Limpar filtro">
                    </div>
                </form>
            </div>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th class="ordem">Data de recebimento</th>
                            <th class="ordem">Data da reposição</th>
                            <th class="componente">Professor</th>
                            <th class="componente">Disciplina</th>
                            <th class="status">Status</th>
                            <th class="ordem"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>03/04/2024</td>
                            <td>12/05/2024</td>
                            <td>Douglas Rosa</td>
                            <td>Programação para Dispositivos Móveis I</td>
                            <td>Indeferido</td>
                            <td class="centro"><a href="indeferido.html"><img src="../../assets/images/indeferido.png"
                                        class="iconeAnalisar"><a href=""><img src="../../assets/images/feedback.png"
                                            class="iconeAnalisar"></a></a></td>
                        </tr>
                        <tr>
                            <td>15/04/2024</td>
                            <td>26/05/2024</td>
                            <td>José Gonçalves Pinto Junior</td>
                            <td>Banco de Dados Relacional</td>
                            <td>Deferido</td>
                            <td class="centro"><a href="deferido.html"><img src="../../assets/images/deferido.png"
                                        class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>17/04/2024</td>
                            <td>29/05/2024</td>
                            <td>Lúcio</td>
                            <td>Integração e Entrega Contínua</td>
                            <td>Deferido</td>
                            <td class="centro"><a href=""><img src="../../assets/images/indeferido.png"
                                        class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>20/04/2024</td>
                            <td>10/05/2024</td>
                            <td>Mateus</td>
                            <td>Aprendizagem de Máquina</td>
                            <td>Deferido</td>
                            <td class="centro"><a href=""><img src="../../assets/images/indeferido.png"
                                        class="iconeAnalisar"></a></td>
                        </tr>
                        <tr>
                            <td>26/04/2024</td>
                            <td>20/06/2024</td>
                            <td>Thiago Salhab Alves</td>
                            <td>Interação Humano Computador</td>
                            <td>Indeferido</td>
                            <td class="centro"><a href=""><img src="../../assets/images/indeferido.png"
                                        class="iconeAnalisar"><a href=""><img src="../../assets/images/feedback.png"
                                            class="iconeAnalisar"></a></a></td>
                        </tr>
                        <tr>
                            <td>28/04/2024</td>
                            <td>06/05/2024</td>
                            <td>Vagner</td>
                            <td>Álgebra Linear</td>
                            <td>Deferido</td>
                            <td class="centro"><a href=""><img src="../../assets/images/indeferido.png"
                                        class="iconeAnalisar"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            document.getElementById('botao-recebidos').addEventListener('click', function () {
                document.getElementById('recebidos').style.display = 'block';
                document.getElementById('finalizados').style.display = 'none';
            });

            document.getElementById('botao-finalizados').addEventListener('click', function () {
                document.getElementById('recebidos').style.display = 'none';
                document.getElementById('finalizados').style.display = 'block';
            });

        </script>

    </main>
    <footer class="site-footer">
        <div class="footer">
            <img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo" class="logo-governo-rodape">
            <p class="rodape">Fatec Ogari de Castro Pacheco - Rua Tereza Lera Paoletti, 570/590 - Jardim Bela Vista -
                CEP: 13974-080</p>
            <p class="rodape">Telefone: (19) 3843-1996 | (19) 3863-5210 (WhatsApp)</p>
            <p class="rodape">&copy; 2024 Equipe 6Tec. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>