<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../assets/css/estilo-geral.css">
    <title>Início</title>

</head>
<body>
    <header>
        <div class="topo">
            <div class="fundo"><img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo" class="logo-governo"></div>
            <div class="fundo2"><img src="../../assets/images/logo-fatec_itapira.png" alt="logo" class="logo-fatec"></div>
        </div>
        <div class="inicio"></div>

    </header>
    <main>
        <h1 class="titulo-inicio2">Portal para Justificativa de Faltas</h1>


                <h2>Bem-vindo(a)</h2>
                <h3>Área Secretaria</h3>


                <div class="cursos">

                    <div class="item-index">
                        <p class="p-icone">Gestão da Tecnologia da Informação - GTI</p><br>
                        <a href="#" class="link-index"><img src="../../assets/images/informação.png"  class="icone"></a>
                    </div> 
                    
                    <div class="item-index">
                        <p class="p-icone">Gestão da Produção Industrial - GPI</p><br>
                        <a href="#" class="link-index"><img src="../../assets/images/industrial.png"  class="icone"></a>
                    </div>
                    
                    <div class="item-index">
                        <p class="p-icone">Gestão Empresarial - GE</p><br>
                        <a href="#" class="link-index"><img src="../../assets/images/empresaria.png"  class="icone"></a>
                    </div>
                    
                    <div class="item-index">
                        <p class="p-icone">Desenvolvimento de Software Multiplataforma - DSM</p><br>
                        <a href="lista-secretaria-dsm.html" class="link-index"><img src="../../assets/images/software.png"  class="icone"></a>
                    </div>
                    
                    <div class="item-index">
                        <p class="p-icone">Calendário Acadêmico</p><br>
                        <a href="calendario-escolar.html" class="link-index"><img src="../../assets/images/calendario.png"  class="icone"></a>
                    </div>
                    
                    <div class="item-index">
                        <p class="p-icone">Sair</p><br>
                        <a href="login.html" class="link-index"><img src="../../assets/images/poder.png"  class="icone"></a>
                    </div>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer">
            <img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo" class="logo-governo-rodape">
            <p class="rodape">Fatec Ogari de Castro Pacheco - Rua Tereza Lera Paoletti, 570/590 - Jardim Bela Vista - CEP: 13974-080</p>
            <p class="rodape">Telefone: (19) 3843-1996 | (19) 3863-5210 (WhatsApp)</p>
            <p class="rodape">&copy; 2024 Equipe 6Tec. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>
