<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilo-geral.css">
    <title>Justificativas de Falta - DSM</title>

</head>

<body>
    <header>
        <div class="topo">
            <div class="fundo"><img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo"
                    class="logo-governo"></div>
            <div class="fundo2"><img src="../../assets/images/logo-fatec_itapira.png" alt="logo" class="logo-fatec">
            </div>
        </div>
        <nav>
            <a href="index.php" class="botao-nav">Início</a>
            <a href="" class="botao-nav">GTI</a>
            <a href="" class="botao-nav">GPI</a>
            <a href="" class="botao-nav">GE</a>
            <a href="" class="botao-nav">DSM</a>
            <a href="../calendario-escolar-2-2024.html" class="botao-nav">Calendário Acadêmico</a>
            <a href="login.html" class="botao-nav">Sair</a>
        </nav>

    </header>
    <main>
        <h1>Desenvolvimento de Software Multiplataforma</h1>
        <h3>Formulários Recebidos</h3>
        <div id="recebidos">
            <div class="table">
                <table id="tabela-recebidos">
                    <thead>
                        <tr>
                            <th class="ordem">Número</th>
                            <th class="ordem">Data da falta</th>
                            <th class="componente">Professor</th>
                            <th class="componente">Disciplina</th>
                            <th class="status">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-professor="Wladimir José Camillo Menegassi"
                            data-disciplina="Modelagem de Banco de Dados">
                            <td>01</td>
                            <td>09/05/2024</td>
                            <td>Wladimir José Camillo Menegassi</td>
                            <td>Modelagem de Banco de Dados</td>
                            <td>Indeferido</td>
                        </tr>
                        <tr data-professor="Janaina" data-disciplina="Inglês">
                            <td>02</td>
                            <td>10/05/2024</td>
                            <td>Janaina</td>
                            <td>Inglês</td>
                            <td>Deferido</td>
                        </tr>
                        <tr data-professor="Wladimir José Camillo Menegassi"
                            data-disciplina="Modelagem de Banco de Dados">
                            <td>03</td>
                            <td>23/05/2024</td>
                            <td>Wladimir José Camillo Menegassi</td>
                            <td>Modelagem de Banco de Dados</td>
                            <td>Deferido</td>
                        </tr>
                        <tr data-professor="Ana Célia Ribeiro Bizigato Portes"
                            data-disciplina="Engenharia de Software I">
                            <td>04</td>
                            <td>25/05/2024</td>
                            <td>Ana Célia Ribeiro Bizigato Portes</td>
                            <td>Gestão Ágil de Projetos de Software</td>
                            <td>Deferido</td>
                        </tr>
                        <tr data-professor="Thiago Salhab Alves" data-disciplina="Design Digital">
                            <td>05</td>
                            <td>09/06/2024</td>
                            <td>Thiago Salhab Alves</td>
                            <td>Design Digital</td>
                            <td>Indeferido</td>
                        </tr>
                        <tr data-professor="José Gonçalves Pinto Junior"
                            data-disciplina="Algoritmo e lógica de programação">
                            <td>06</td>
                            <td>12/06/2024</td>
                            <td>José Gonçalves Pinto Junior</td>
                            <td>Algoritmo e lógica de programação</td>
                            <td>Deferido</td>
                        </tr>
                        <tr data-professor="Edison Kazuo Igarashi"
                            data-disciplina="Sistemas Operacionais e Redes de Computadores">
                            <td>07</td>
                            <td>17/06/2024</td>
                            <td>Edison Kazuo Igarashi</td>
                            <td>Sistemas Operacionais e Redes de Computadores</td>
                            <td>Deferido</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer">
            <img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo" class="logo-governo-rodape">
            <p class="rodape">Fatec Ogari de Castro Pacheco - Rua Tereza Lera Paoletti, 570/590 - Jardim Bela Vista -
                CEP: 13974-080</p>
            <p class="rodape">Telefone: (19) 3843-1996 | (19) 3863-5210 (WhatsApp)</p>
            <p class="rodape">&copy; 2024 Equipe 6Tec. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>