<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilo-geral.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Formulário Enviado</title>
</head>

<body>
    <div class="">
        <div style="margin-top: 30px; display:flex; justify-content: center; align-items: center; height: 60vh;">
            <div style="padding: 40px; border: 2px solid #004F68; border-radius: 25px">
                <div>
                    <h2 style="text-align: center; margin:0">Formulário enviado corretamente!</h2>
                    <p style="text-align: center; margin-top: 15px;"> Você será notificado quando o coordenador
                        aprová-lo ou reprová-lo.</p>
                </div>
                <div style="display:flex; justify-content: center; align-items: center; padding-top: 20px;">
                    <a href="index.php">
                        <button class="voltar">Voltar para a Página Inicial</button>
                    </a>
                    <a href="./lista-enviados.php">
                        <button class="voltar">Visualizar Formulários Enviados</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>