<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/css/estilo-geral.css">
    <title>Início</title>

</head>

<body>
    <header>
        <div class="topo">
            <div class="fundo"><img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo"
                    class="logo-governo"></div>
            <div class="fundo2"><img src="../../assets/images/logo-fatec_itapira.png" alt="logo" class="logo-fatec">
            </div>
        </div>
        <div class="inicio"></div>

    </header>
    <main>
        <div class="titulo-inicio2">
            <h1 class="titulo-inicio2">Portal para Justificativa de Faltas</h1>
        </div>
        <div class="corpo-inicio">

            <div class="lateralEsquerda">
                <h1 class="titulo-inicio">Bem-vindo(a)</h1>
                <p class="parag-inicio">Professor(a)</p><br>
                <p class="parag-inicio">Ana Célia Ribeiro Bizigato Portes</p><br>
                <p class="parag-inicio">Matricula: 0000000000005</p><br>
                <p class="parag-inicio">Docente no(s) curso(s): </p><br><br>
                <p class="parag-inicio">CST-DSM </p><br><br>
            </div>

            <div class="lateralDireita">

                <div class="item-index">
                    <p class="p-icone">Enviar Justificativa de Falta</p><br>
                    <a href="enviar-justificativa.html" class="link-index"><img src="../../assets/images/editar (1).png"
                            width="60px" class="icone"></a>
                </div>

                <div class="item-index">
                    <p class="p-icone">Enviar Reposição de Aulas</p><br>
                    <a href="form-reposicao.html" class="link-index"><img src="../../assets/images/calendario.png"
                            width="60px" class="icone"></a>
                </div>

                <div class="item-index">
                    <p class="p-icone">Ver formulários enviados</p><br>
                    <a href="lista-enviados.html" class="link-index"><img src="../../assets/images/comente.png"
                            width="60px" class="icone"></a>
                </div>

                <div class="item-index">
                    <p class="p-icone">Sair</p><br>
                    <a href="login.html" class="link-index"><img src="../../assets/images/poder.png" width="60px"
                            class="icone"></a>
                </div>

            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="footer">
            <img src="../../assets/images/logo-governo-do-estado-sp.png" alt="logo" class="logo-governo-rodape">
            <p class="rodape">Fatec Ogari de Castro Pacheco - Rua Tereza Lera Paoletti, 570/590 - Jardim Bela Vista -
                CEP: 13974-080</p>
            <p class="rodape">Telefone: (19) 3843-1996 | (19) 3863-5210 (WhatsApp)</p>
            <p class="rodape">&copy; 2024 Equipe 6Tec. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>

</html>