<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Exibir PDF</title>
</head>
<body>

<h1>Visualizador de PDF</h1>


<iframe src="../../assets/pdfs/exemplo-pdf-justificativa.pdf" width="100%" height="600px">
    Seu navegador não suporta visualização de PDF. 
    <a href="../../assets/pdfs/exemplo-pdf-justificativa.pdf">Clique aqui para visualizar o PDF</a>.
</iframe>
<br>
<br>
<a href="enviado-sucesso.html">Confirmar envio</a>
<a href="form-justificativa.php">Retornar para o cadastro</a>
</body>
</html>
