#btnExibirGradeHoraria {
    background-color: #004f68;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}
