* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    display: flex;
    justify-content: space-between;
}

.logo-governo {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fundo {
    background-color: #000;
    width: 20%;
    height: 100px;
    left: 0px;
    top: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-fatec {
    width: 65%;
}

.fundo2 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.inicio {
    background-color: #000;
    height: 5px;
}

h1 {
    font-family: "verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #004f68;
}

h2 {
    font-family: "verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 54px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #004f68;
}

h3 {
    font-family: "verdana";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 54px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #004f68;
}

h4 {
    font-family: "verdana";
    text-decoration: solid;
    font-weight: 400;
    font-size: 22px;
    line-height: 54px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #004f68;
}

p {
    font-family: "verdana";
    font-size: 16px;
    color: #004f68;
    margin-right: 10px;
    margin-bottom: 20px;
}

.p-icone {
    font-size: 18px;
}

.icone {
    width: 60px;
    transition: width 0.4s ease;
    padding-bottom: 10px;
}
.icone:hover {
    width: 70px;
}

/*index*/

.topoIndex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lateralEsquerda {
    margin-right: 70px;
    width: 70%;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

.lateralDireita {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.notificacao {
    font-family: verdana;
    font-size: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 10px;
    /* padding: 30px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-index {
    color: #004f68;
    font-family: verdana;
    font-size: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 55px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cursos {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-index-se {
    font-family: verdana;
    font-size: 20px;
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004f68;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
}

.link-index {
    color: #004f68;
    text-decoration: none;
}

.link-index-se {
    color: #fff;
    text-decoration: none;
}

.titulo-inicio {
    color: #8b0000;
    font-size: 42px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-inicio2 {
    color: #8b0000;
    font-size: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.parag-inicio {
    color: #2e2e2e;
    font-size: 18px;
}

/* Estilização do rodapé */
main {
    flex: 1; /* Flex-grow para preencher o espaço disponível */
    padding: 20px;
}

.site-footer {
    bottom: 0;
}

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;

    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

.logo-governo-rodape {
    margin-bottom: 10px;
}

p.rodape {
    color: #aaa;
}
