.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.vh-100 {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-cursos {
    padding: 30px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-vermelho {
    background-color: #a50000;
}

.bg-vinho {
    background-color: #720606;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}
